.q-20 {
    padding-bottom: 20px;
}
.q-30 {
    padding-bottom: 30px;
}
.q-40 {
    padding-bottom: 40px;
}
.q-50 {
    padding-bottom: 50px;
}
.q-60 {
    padding-bottom: 60px;
}
.q-70 {
    padding-bottom: 70px;
}
.q-80 {
    padding-bottom: 80px;
}
.q-90 {
    padding-bottom: 90px;
}
.q-100 {
    padding-bottom: 100px;
}
.q-25 {
    padding-bottom: 25px;
}
.q-35 {
    padding-bottom: 35px;
}
.q-45 {
    padding-bottom: 45px;
}
.q-55 {
    padding-bottom: 55px;
}
.q-65 {
    padding-bottom: 65px;
}
.q-75 {
    padding-bottom: 75px;
}
.q-85 {
    padding-bottom: 85px;
}
.q-95 {
    padding-bottom: 95px;
}